/* tropiteal #00A8C6, teal drop #40C0CB, whitetrash #F9F2E7, atomic bikini #AEE239, feeble week #8FBE00 */
/* tropiteal #00A8C6, dir. contrad. #0096B1, noises #F4F5ED, feeble week #8FBE00, slate #454748 -> http://www.colourlovers.com/palette/3016368/Idea_Inspiration */

@font-face {
  font-family: josefinSlab;
  src: url("../../assets/fonts/josefinslab/JosefinSlab-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: josefinSlab;
  src: url("../../assets/fonts/josefinslab/JosefinSlab-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: josefinSlab;
  src: url("../../assets/fonts/josefinslab/JosefinSlab-Italic.ttf");
  font-weight: italic;
}

@font-face {
  font-family: josefinSans;
  src: url("../../assets/fonts/josefinsans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: josefinSans;
  src: url("../../assets/fonts/josefinsans/JosefinSans-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: josefinSans;
  src: url("../../assets/fonts/josefinsans/JosefinSans-Italic.ttf");
  font-style: italic;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background: #F4F5ED;
  color: #454748;
  margin: 0 auto;
  font-size: 87.5%; /* 1em = 10px / 87.5% of 16 = 14px */
}

h1 {
  font-family: josefinSlab;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

p {
  font-family: josefinSans;
}

.header h1 {
  margin: 10px;
}

.site {
  max-width: 100%;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.footer {
  clear: both;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.footer p {
  font-family: josefinSlab;
  text-align: center;
}

/* ----------------------------------------
    MEDIA QUERIES
------------------------------------------- */

