/* tropiteal #00A8C6, teal drop #40C0CB, whitetrash #F9F2E7, atomic bikini #AEE239, feeble week #8FBE00 */
/* tropiteal #00A8C6, dir. contrad. #0096B1, noises #F4F5ED, feeble week #8FBE00, slate #454748 -> http://www.colourlovers.com/palette/3016368/Idea_Inspiration */

@font-face {
  font-family: PlaywriteNZ;
  src: url("../fonts/PlaywriteNZBasic-VariableFont_wght.ttf");
  font-weight: 1 999;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F8F9FA;
  color: #454748;
  font-size: 87.5%; /* 1em = 10px / 87.5% of 16 = 14px */
}

h1 {
  font-family: PlaywriteNZ;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  margin: 0;
}

p {
  font-family: PlaywriteNZ;
}

.header h1 {
  padding: 10px;
}

.site {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  height: auto;
}

.main {
  width: 80%;
  display: inline;
  float: left;
}

.sidebar {
  width: 20%;
  display: inline;
  float: right;
}

.footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-family: PlaywriteNZ;
  text-align: center;
}

.clear {
  clear: both;
  line-height: 0;
}

/* ----------------------------------------
    MEDIA QUERIES
------------------------------------------- */

